
/* ================================== Left Page Breathe Design ================================== */

@keyframes box_animation {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(7px);
    }
    30% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes box_1_animation {
    from {
        transform: translateX(-30px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes box_2_animation {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes box_3_animation {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(10px);
    }
    67% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.box {
    z-index: 0;
    position: absolute;
    background-color: rgba(3, 21, 244, 1);
    background-image: linear-gradient(to top right, rgba(3, 21, 244, 1) 5%, rgba(0, 168, 255, 1));
}

.box_1 {
    z-index: 3;
    bottom: 0;
    left: -230px;
    width: 285px;
    height: 150px;
    animation: box_1_animation 4s, box_animation 10s 7.6s infinite ease-in-out;
}

.box_2 {
    z-index: 0;
    bottom: 0;
    left: -7px;
    width: 21px;
    height: 480px;
    animation: box_2_animation 3s, box_animation 10s 7s infinite ease-in-out;
}

.box_3 {
    bottom: 200px;
    left: -255px;
    width: 285px;
    height: 70.4px;
    animation: box_3_animation 4s, box_animation 10s 7.3s infinite ease-in-out;

}

.transparent_box {
    position: absolute;
    top: 0;
    left: -7px;
    width: 21px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.6);
    animation: box_animation 10s 7s infinite ease-in-out;
}

.circle_grid_vertical{
    z-index: -3;
    position: absolute;
    left: 0px;
    top: 185px;
    width: 45px;
}

.circle_grid_horizontal {
    position: absolute;
    /* bottom: -80px;
    right: -38px; */

    bottom: -13%; 
    right: 0;
    /* width: 200px; */
    width: 13%;
}

.arc {
    /* pointer-events: none; */
}

